[Unit]
Description=Panopticon upload

[Service]
Type=oneshot
ExecStart=${PYTHON} ${SRCDIR}/panopticon_upload.py
WorkingDirectory=${SRCDIR}

# If we take more than 5m to run, kill it
RuntimeMaxSec=300
