[Unit]
Description=Panopticon image capture

[Service]
Type=oneshot
ExecStart=${PYTHON} ${SRCDIR}/panopticon_capture.py
WorkingDirectory=${SRCDIR}

# If we take more than 45s to run, consider it failed
RuntimeMaxSec=45
