[Unit]
Description=Panopticon image capture

[Timer]
# Run twice per minute, every minute
OnCalendar=*-*-* *:*:00,30

[Install]
WantedBy=timers.target
