[Unit]
Description=Panopticon upload

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/panopticon/panopticon/panopticon_upload.py
WorkingDirectory=/home/panopticon/panopticon

# If we take more than 5m to run, kill it
#RuntimeMaxSec=300
